.reservation{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.reservation h1{
    margin-bottom: 50px;
}
.reservation-comboBox{
    position: relative;
    display: flex;
    flex: 20%;
    padding: 5px;
}
.reservation .confirmation-content{
    margin: 0 auto;
    padding: 0 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.reservation .form-floating{
    position: relative;
    display: block;
    flex: 50%;
    padding: 0 5px;
    margin: 0;
}

.meal-logo{
    width: 100%;
    height: 100%;
}