// -----COLOR PALETTE-----
$grey: #f5f5f5;
$red: #e74c3c;
$kindofblack: #0a0a0a;
$geryish: #343434;
$white: #ffffff;

// -----NAVIGATION BAR----- 
header{
    overflow: hidden;
    background-image: url(https://www.crownsydney.com.au/getmedia/a4b64699-e7ba-459d-bc30-ab9ed96cc5f6/210420-Crown-Sydney-Restaurant-Epicurean-0520-6496x4872.jpg?width=1440);
    background-repeat: no-repeat center;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    padding: 0 0 75px 0;
    opacity: 0.9;
    filter: grayscale(35%);
    flex :50%;
    position: relative;
    z-index: 1000;
}
.content-navbar{
    margin: 0 0 0 -5px;
    overflow: visible;
}
.topnav {
    overflow: hidden;
    float: right;
}
.topnav a{
    float: left;
    color: $kindofblack;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.topnav a:hover, .topnav-dropdown:hover .topnav-dropbtn{
    border-bottom: 3px solid $kindofblack;
}
.topnav a.active {
    border-bottom: 3px solid $kindofblack;
    color: $kindofblack;
}
.topnav-dropbtn-active{
    border-bottom: 3px solid $kindofblack !important;
    color: $kindofblack !important;
}
.topnav-dropdown {
    display: block;
    float: left;
    position: relative;
}
.topnav-dropdown .topnav-dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: $kindofblack;
    padding: 20px 15px;
    background-color: inherit;
    margin: 0;
    font-weight: inherit;
    text-transform: inherit;
}
.topnav-dropdown-content {
    display: none;
    position: relative;
    background-color: rgba(199, 199, 199, 0.87);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.445);
    z-index: 1;
    right: 0;
}
.topnav-dropdown-content a {
    float: none;
    color: $kindofblack;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.topnav-dropdown-content a:hover {
    background-color: rgba(121, 121, 121, 0.705);
    border-bottom: transparent;
    display: block;
}
.topnav-dropdown-content a.active {
    border-bottom: none;
    background-color: rgba(121, 121, 121, 0.705);
}
.topnav-dropdown:hover .topnav-dropdown-content {
    position: fixed;
    display: block;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 900px) {
    .topnav a.active {
      border-bottom: none;
    }
}
  
// -----HOME PAGE-----
.homepage{
    padding: 0 0 70vh 0; //height of navigation bar in homepage
}
