.FinancialFigure{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.FinancialFigure h1{
    margin-bottom: 50px;
}

.FinancialFigure .container{
    padding: 0;
    width: 100%;
    margin-top: 30px !important;
    width: 95vw;
    text-align: center;
    margin: auto;
    padding: auto;
}

.filter-dropdown{
    margin: 0 !important;
    text-align: center !important;
    width: 100%;
}