$geryish: #343434;

.discount{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.discount-list{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 50px 0;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 25%;
}
.discount-item{
    position: relative;
    display: block;
    flex: 25% 0;
    padding: 10px 5px;
}
@media screen and (max-width: 900px) {
    .discount-item{
        flex: 50% 0;
    }
}
.discount-selection-container{
    position: relative;

    &:hover img{
        opacity: 0.5;
    }
    &:hover .discount-selection{
        opacity: 1;
    }
}
.discount-item img{
    display: block;
    width: 100% !important;
    height: 25vh !important;
    object-position: center;
    object-fit: cover;
    transition: all 200ms linear;
    transition: .5s ease;
    backface-visibility: hidden;
}
.discount-selection{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    & button{
        color: $geryish;
        background-color: transparent;
    }
}
.discount-item, .name{
    text-align: center;
    font-weight: 700;
    font-size:x-large;
    text-transform: uppercase;
}
.discount-item, .description{
    text-align: center;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
}
.discount-item, .detail{
    text-align: left;
    font-size: medium;
    text-transform: none;
}
.discount-item, button{
    text-align: center;
}

.discount-dropdown{
    width: 95%;
    margin: 25px auto;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
}

.discount h2 {
    width: 95%;
    margin: 25px auto;
    margin-bottom: -50px;
    text-align: left;
    font-weight: 700;
}