.reservation{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.reservation h1{
    margin-bottom: 50px;
}
.reservation-comboBox{
    position: relative;
    display: flex;
    flex: 20%;
    padding: 5px;
}