/*
COLOR PALETTE
Kind of dark yellow: #ffcc00
dark gray - almost black: #343434
*/

/* Global Styles
-----------------*/
html{
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a{
  color: #343434;
}
a:hover {
  text-decoration: none;
}
h1{
  font-weight: 700;
  font-size: 60px;
}
h2{
  font-weight: 525;
}
h1, h2, h3{
  margin: 0;
  padding: 0;
}
.checkbox{
  font-weight: 550;
  margin-bottom: 0;
  margin-top: 10px;
}

/* Header 
--------------*/
.cover{
  background-image: url(https://www.crownsydney.com.au/getmedia/a4b64699-e7ba-459d-bc30-ab9ed96cc5f6/210420-Crown-Sydney-Restaurant-Epicurean-0520-6496x4872.jpg?width=1440);
  background-size: cover;
  padding-bottom: 250px;
  background-position: center;
}

/* Navigation Bar
 -----------------*/
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #242424;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  align-items: center;
}
.topnav a:hover {
  border-bottom: 3px solid #242424;
  color: #242424;
}
.topnav a.active {
  border-bottom: 3px solid #242424;
  color: #242424;
}


/* Sign Up
 ----------*/
 .form-signup, .form-signin{
   max-width: 450px;
   padding: 15px;
   margin: auto;
   margin-top: 10px;
 }
.left-field{
  float: left;
  margin-right: 0px;
  width: 50%;
}
.right-field{
  display: grid;
}

/* Sign In/Log In
 -----------------*/
.form-signin h3{
  margin-bottom: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;
}

.middle {
  border-radius: 0;
  margin-bottom: -1px;
}
.bottom {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius:  0;
}

@media screen and (max-height: )